a:hover{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

.prettyButtonSmall{
  font-size: 13px;
  font-family: "Segoe UI Light","Open Sans",sans-serif,serif;
  display:block;
  color: black;
  cursor: pointer;
  /*padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;*/
}
.prettyButton{
  font-size: 18px;
  font-family: "Segoe UI Light","Open Sans",sans-serif,serif;
  display:block;
  color: white;
  cursor: pointer;
}

.prettyButton:hover{
  text-decoration: underline;
  color: white;
}

.prettyButtonSmall:hover{
  text-decoration: underline;
  color: black;
}

.prettyButton:visited{
  color: white;
}

.headerStyle{
    margin:0px;
}
@media screen and (max-width: 800px){
    .headerStyle{
        margin:.625rem;
    }
}
