a:hover{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}

.mainPage{
    width: 100%;
    margin: 0px auto 0 auto;
    position: relative;
    overflow: auto;
}

.carousel {
    min-height: 100%;
}

/*.content {
  width: 1280px;
  height: 720px;
}*/
.prettyButtonSmall{
  font-size: 0.8rem;
  font-family: "Segoe UI Light","Open Sans",sans-serif,serif;
  display:block;
  color: black;
  cursor: pointer;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  /*padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;*/
}
.prettyButton{
  font-size: 18px;
  font-family: "Segoe UI Light","Open Sans",sans-serif,serif;
  display:block;
  color: white;
  cursor: pointer;
}

.prettyButton:hover{
  text-decoration: underline;
  color: white;
}

.prettyButtonSmall:hover{
  text-decoration: underline;
  color: black;
}

.prettyButton:visited{
  color: white;
}

.headerStyle{
    margin:0px;
}

.widescreen{
    width: 50vw;
    height: 28.125vw;
}

div.widescreen{
    padding-bottom:56.25%;
    width: 100%;
}

div.beatsBkgd{
    padding-bottom:22%;
    width: 100%;
}

div.swaggerBkgd{
    padding-bottom:17.1%;
    width: 100%;
}

div.paperRatio{
    padding-bottom :129.41%;
    width: 100%;
}



@media screen and (max-width: 800px){
    .widescreen{
        width: 70vw;
        height: 39.375vw;
    }

    .headerStyle{
        margin-left:.625rem;
    }
}
.secTitle{
    text-align: right;
}
@media screen and (max-width: 640px){

    .widescreen{
        width: 80vw;
        height: 45vw;
    }

    .secTitle{
        text-align: center;
    }
}

p.experienceParagraph{
    line-height: 22px;
    font-size: 15px;
}

p.fancyParagraph{
    line-height:24px;
    font-size:17px;
}
