<div class="page-content" align="center"style="padding-top: 50px">
    <div class="bg-white fg-black align-center upAnimated">
        <div class="no-overflow" style="bg-lightGray fg-white align-center padding-top: 20px; padding-bottom: 10px">
            <h1 style="font-size: 40px; line-height: 1.2" class="metro-title">ClassTeX</h1>
        </div>
        <div class="bg-darkGray fg-white align-center upAnimated">
            <div class="section">
                <div class="no-overflow" style="padding-top: 10px; padding-bottom: 10px">
                    <small style="font-size: 25px; line-height: 1.2" class="metro-title">Simple. Clean. Versatile.</small>
                </div>
            </div>

        </div>

        <div align="center">
            <div class="grid" style="margin:20px">
                <div class="row cells4">
                    <div class="cell colspan2 leftAnimate" align="left">
                        <h3>ClassTeX is a LaTeX template formatted for quick, clean, and clear note-taking.</h3>
                        <ul>
                            <li> Designed for use with XeLaTeX, likely compatible with other compilers (untested, but not designed to require extensive font support)</li>
                            <li> Includes predefined macros for creating text boxes for emphasis</li>
                            <li> Predefined shortcuts for common terms used when taking notes in CS/Math/Engineering classes</li>
                        </ul>
                        <!-- Spacing div -->
                        <div style="padding-top:10px"/>
                            <h4>Download and Use</h4>
                            <p class="fancyParagraph"> To use ClassTeX, simply download the .cls file available <a href="https://github.com/techlover10/ClassTeX" target="_blank">here</a> and create a new TeX document of documentclass ClassTeX.  For more information, check out the user guide available <a href="https://github.com/techlover10/ClassTeX/blob/master/ClassTeXInstructions.pdf" target="_blank"> here</a>.</p>
                        </div>
                        <div class="cell colspan2 rightAnimate" style="box-shadow: 0px 0px 10px #888888">
                            <!--<div class="carousel" data-height="false" data-width="100%" data-role="carousel" data-control-next=">" data-control-prev="<" data-controls="true" data-period="7000" > -->
                            <div class="carousel" id="imgcarousel">
                                <div class="slide paperRatio">
                                    <img src="assets/classtex.png"></img>
                                </div>
                                <div class="slide paperRatio">
                                    <img src="assets/classtexinsn.png"></img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/animations.js"></script>

    <!-- Invisible div used for loading images -->
    <div id="loader" style="display: none">
        <img src="assets/classtex.png"></img>
        <img src="assets/classtexinsn.png"></img>
    </div>
    <script>
        $("#loader").waitForImages(true).done(
                function () {
                    $(function () {
                        $("#imgcarousel").carousel(
                                {
                                    period: 7000,
                                    height: false
                                }
                                );
                    });
                });
    </script>
