<div class="page-content" align="center"style="padding-top: 50px">
  <body>
    <div id="title">
      <h1 >Composition</h1>
      <h4 style="padding:10px">I run a few musical "projects" in my spare time: rangers.beats is my hip-hop/rap composition project, including original songs and instrumentals.  swaggernaut812 is my custom theme music business, exclusively offered through Fiverr.com.</h4>
    </div>
    <div id="mainExperience" style="">
      <div id = "buttons" style="width: 100%; padding-top: 15px; padding-bottom:15px " class="bg-darkGray fg-white align-center">
        <a class="prettyButton" href="#music/Composition?section=rangersbeats"> rangers.beats | Hip-Hop and Rap</a>
        <a class="prettyButton" href="#music/Composition?section=swaggernaut812music"> swaggernaut812 | Custom Instrumental Theme Music</a>
        <a id="reset" class="prettyButton" href="#music/Composition" style="display:none"> Back to Menu </a>
      </div>

      <div id="infoExperience" style="display:none">
      </div>
    </div>
    <script>
if (OPTIONAL_ARGS.section){
    console.log(OPTIONAL_ARGS.section);
    loadPage(OPTIONAL_ARGS.section);
}
    </script>
  </body>
</div>
