<script type='text/javascript' src="js/dynamicTitle.js"> </script>
<h1 class="metro-title"> CS 1112: Introduction to Computing using MATLAB </h1>
<h2> Consultant at Cornell University | Ithaca, New York </h2>
<h3> Fall 2015, Fall 2016 </h3>
<div class="grid">
      <div class="row cells4">
        <div class="cell"> 
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
              </div>
            </div>
          </div>
          <h3 class="secTitle" align="right">Overview</h3> </div>
        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <p style="padding-top: 10px; font-size: 15px"> CS 1112 at Cornell University is an introductory computer science course which uses MATLAB to teach the basics of computational thinking and problem-solving with software development.  Students are introduced to the basics of control flow, sorting algorithms, and developing problem-solving with programming. This course is one of two introductory Computer Science courses commonly used by students in the College of Engineering to satisfy their Computer Science graduation requirement.</p>
        </div>
      </div>
      <div class="row cells4">
<div class="cell"> 
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
              </div>
            </div>
          </div>
          <h3 class="secTitle" align="right">Responsibilities</h3> </div>
        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <ul>
            <li> Grade prelim exams (two per semester), projects (6 per semester) and the final exam. </li>
            <li> Hold weekly office hours to provide assistance to students with projects and assignments, and answer questions about course material. </li>
            <li> Answer questions and help the TAs teach course material in weekly discussion sessions of approx. 20-25 students. </li>
          </ul>
        </div>

      </div>
</div>


