<div class="page-content" align="center"style="padding-top: 50px">
  <body>
    <h1 id="title">Experience</h1>
    <div id="mainExperience" style="">
      <div id = "buttons" style="width: 100%; padding-top: 15px; padding-bottom:15px " class="bg-darkGray fg-white align-center">
        <a class="prettyButton" href="#about/Experience?section=CS_1112_Consultant"> CS Course Consultant | Cornell University </a>
        <a class="prettyButton" href="#about/Experience?section=Noteflight"> Software Development Intern | Noteflight </a>
        <a id="reset" class="prettyButton" href="#about/Experience" style="display:none"> Back to Menu </a>
      </div>

      <div id="infoExperience" style="display:none">
      </div>
    </div>
    <script>
if (OPTIONAL_ARGS.section){
    console.log(OPTIONAL_ARGS.section);
    loadPage(OPTIONAL_ARGS.section);
}
    </script>
  </body>
</div>
