<script src="js/genEDM.js"> </script>
<div style="margin-top: 10%; margin-bottom: 10%; margin-left: 20%; margin-right: 20%; text-align: center">
<h1> EDM Generator</h1>
<div> [HUMOR] Generates any number of names in the style of EDM artist names </div>
<h4> Number of Names </h4>
<div>
<input id="number" type="number" name="number of names" min="1" max="10">
<button type="button" onclick="generateEDM()"> Generate names! </button>
</div>
<div style="padding-top: 30px">
<p id="edmout"> </p>
</div>
</div>
