<script src="js/genEDM.js"> </script>
<div class="page-content" align="center" style="padding-top: 50px">
    <div class="no-overflow" style="bg-lightGray fg-white align-center padding-top: 20px; padding-bottom: 10px">
        <h1 style="font-size: 40px" class="text-shadow metro-title">EDM Name Generator</h1>
        <h2 style="font-size:22px" class="text-shadow metro-subtitle">[HUMOR]</h2>
    </div>

    <div> Generates any number of names in the style of EDM artist names </div>
    <h4> Number of Names </h4>
    <div>
        <input id="number" value="4" type="number" name="number of names" min="1" max="10">
        <button type="button" onclick="generateEDM()"> Generate names! </button>
    </div>
    <div style="padding-top: 10px">
        <p id="edmout"> </p>
    </div>
</div>
