<script type='text/javascript' src="js/dynamicTitle.js"> </script>
<h1 class="metro-title"> Noteflight </h1>
<h2> Software Development Intern at Noteflight | Somerville, Massachusetts </h2>
<h3> Summer 2016</h3>
<div class="grid">
      <div class="row cells4">
        <div class="cell"> 
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
              </div>
            </div>
          </div>
          <h3 class="secTitle" align="right">Overview</h3> </div>
        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <p class="experienceParagraph">Noteflight is an online music notation software and social music platform, designed to make traditional music notation accessible to everyone.  Noteflight is now owned by Hal Leonard Corporation, the world's largest sheet music distributor.</p>
        </div>
      </div>
      <div class="row cells4">
<div class="cell"> 
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
              </div>
            </div>
          </div>
          <h3 class="secTitle" align="right">Projects</h3> </div>

        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <h3> Reporting System </h3>
          <p class="experienceParagraph"> My first project was to refactor and improve Noteflight's internal reporting system, and create a dashboard for viewing monthly user stats and financial information.  The existing reporting system, written in Ruby, generated a CSV with the relevant information.  I refactored this reporting system to create a more general data structure with reporting information, and can be used with any sort of formatter.  I also created a web formatter for this information with HTML and ERB templating, which generates a user-friendly viewable report of the most relevant information.</p>
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
        <h3> Search Indexing Project </h3>
        <h4> General </h4>
        <p class="experienceParagraph"> My second project (which I, along with another intern, spent most of the internship working on) was developing and implementing a more robust score search experience to replace the current implementation on Noteflight.  The goal was to create a richer search experience for users, and allow them to discover new music using a faceted search system through which they could discover pieces by instruments, genres, and other attributes.  The system was implemented in concept in various test environments, and eventually refactored and integrated into Noteflight's new content libraries system, due to be released this fall.</p>
        <h4> Technologies </h4>
        <h5> Elasticsearch | Ruby | Rails | JS | CSS | HTML | Knockout </h5>
        </div>
        </div>
      </div>
      <!--
      <div class="row cells4">
        <div class="cell"> 
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
              </div>
            </div>
          </div>
          <h3 align="right">Technologies Used</h3> </div>
        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <ul>
            <li> Ruby on Rails </li>
            <li> JavaScript </li>
            <li> Knockout.js </li>
          </ul>
        </div> -->

      </div>
</div>


