<div class="page-content" align="center"style="padding-top: 50px">
  <div class="bg-white fg-black align-center">
    <div class="no-overflow" style="bg-lightGray fg-white align-center padding-top: 20px; padding-bottom: 10px">
      <h1 style="font-size: 40px; line-height: 1.2" class="metro-title">Pitbull Generator</h1>
    </div>
    <div class="bg-blue fg-white align-center">
      <div class="section">
        <div class="no-overflow" style="padding-top: 10px; padding-bottom: 10px">
          <small style="font-size: 25px; line-height: 0.7" class="metro-title">Always new. Never coherent.</small>
        </div>
      </div>
    </div>
    <p>Under construction, check back soon!</p>
  </div>
</div>
