<script type='text/javascript' src="js/activeResume.js"> </script>
<div class="page-content" align="center"style="padding-top: 50px">
    <div class="bg-white fg-black align-center">
        <div class="no-overflow" style="align-center padding-top: 20px; padding-bottom: 10px">
            <h1 style="font-size: 40px; line-height: 1.2" class="metro-title rightAnimate">Jared Wong</h1>
            <h3 class="leftAnimate"><small> <a href="https://github.com/techlover10/" target="_blank">Visit my GitHub</a> | <a href="http://www.linkedin.com/in/jaredmwong" target="_blank">Connect with me on LinkedIn</a></small></h3>
            <h3><small> </small></h3>
        </div>
        <div class="grid">
            <div class="row cells4">
                <div class="cell upAnimated"> 
                    <div class="bg-red fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                            </div>
                        </div>
                    </div>
                    <h3 class="secTitle">Education</h3> </div>
                <div class="cell colspan3 upAnimated" align="left">
                    <div class="bg-red fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Cornell University (Cornell Tech)<br>  <small> MEng in Computer Science</small></h3>
                    <h4 class="posInfo"><small>GPA: 4.075 </small></h4>
                    <p> Expected May 2018 | New York City, NY</p>

                    <div class="bg-red fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3 class="subCapt">Cornell University <br> <small>BA in Computer Science (with distinction)</small></h3>
                    <h4 class="posInfo"><small>Minor: Computing in the Arts <br> GPA: 3.876 </small></h4>
                    <p> May 2017 | Ithaca, NY </p>
                    <h5>Coursework</h5> 
                    <div class="headerStyle">
                        <a id="csShowCourses" class="prettyButtonSmall" onClick="showHideCourses('cs')">Show Computer Science Courses ▼</a>
                    </div>
                    <div id="csList" style="overflow:hidden; height:0px">
                        <div class="courseList" id="csInternalList">
                            <ul>
                                <li>Artificial Intelligence</li>
                                <li>The Structure of Information Networks</li>
                                <li>Functional Programming</li>
                                <li>Systems Programming</li>
                                <li>Distributed Systems Principles</li>
                                <li>Operating Systems</li>
                                <li>Algorithms</li>
                                <li>Object-Oriented Programming</li>
                                <li>Robotic Manipulation</li>
                                <li>Discrete Structures</li>
                                <li>Computing in the Arts</li>
                                <li>Networks</li>
                                <li>Intro to Computing using MATLAB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="headerStyle">
                        <a id="otherShowCourses" class="prettyButtonSmall" onClick="showHideCourses('other')">Show Other Courses ▼</a>
                    </div>
                    <div class="courseList" id="otherList" style="overflow:hidden; height:0px">
                        <div id="otherInternalList">
                            <ul>
                                <li>Statistics and Probability</li>
                                <li>Linear Algebra</li>
                                <li>Sound Design</li>
                                <li>Musical Technologies and the Natural World</li>
                                <li>Music and Digital Gameplay</li>
                                <li>Intermediate Microeconomics</li>
                                <li>Intermediate Spanish Composition and Conversation II</li>
                                <li>Physics of Musical Sound</li>
                            </ul>
                        </div>
                    </div>
                    <h5>Honors/Awards</h5>
                    <p> Arts and Sciences Dean's List (multiple semesters)</p>
                    <div class="bg-red fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3 class="subCapt">Shadow Hills High School <br> <small> High School Diploma </small></h3>
                    <h4 class="posInfo"> <small> GPA: 4.63 </small> </h4>
                    <p> June 2014 | Indio, CA </p>
                    <h5>Honors/Awards</h5>
                    <p> Salutatorian </p>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell upAnimated"> 
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                            </div>
                        </div>
                    </div>
                    <h3 class="secTitle">Computer Science Experience</h3> </div>
                <div class="cell colspan3 upAnimated" align="left">
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Verizon<br class="smallBreak">  <small> Student Intern - Software Development</small></h3>
                    <p> June 2017 - August 2017 | San Jose, CA </p>
                    <ul>
                        <li>Worked alongside the VZ Cloud SSRE team to develop tools that assist with infrastructure development and testing. </li> 
                        <li>Designed and implemented an algorithmic load-balancing simulator and frontend for analyzing networks and evaluating path optimality.</li>
                        <li>Implemented a containerized traffic simulator app to test and locate congestion within cloud networks. </li>
                        <li>Worked with Nelson, Verizon's open-source container deployment management tool, contributing bugfixes and developing additional API integrations for use by the SSRE team.</li>
                    </ul>
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Cornell University<br class="smallBreak">  <small> CS 1112 Course Consultant </small></h3>
                    <p> August 2015 - December 2015, August 2016 - December 2016 | Ithaca, NY </p>
                    <ul>
                        <li>Graded assignments and exams for a class of more than 300 students</li>
                        <li>Helped answer questions during a weekly discussion/lab section run by TAs.</li>
                        <li>Held consulting/office hours to answer questions about course material.</li>
                        <li>Created a redesigned version of the course <a href="http://www.cs.cornell.edu/courses/cs1112/2017sp/" TARGET="_blank">website</a> with HTML5/CSS to replace the existing site (this is an ongoing project that I continue to contribute to).</li>
                    </ul>
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Noteflight<br class="smallBreak">  <small> Software Development Intern </small></h3>
                    <p> May 2016 - August 2016 | Somerville, MA </p>
                    <ul>
                        <li>Refactored Noteflight's internal reporting system and implemented a web-based user-statistics summary generator using Ruby and ERB. </li>
                        <li> Worked with the team to design and implement the backend (Ruby) and frontend (JavaScript) for a more robust score search engine based on Elasticsearch. </li>
                        <li> Used the new system to integrate faceted search into Noteflight's new content libraries system, due to be released this fall.</li>
                    </ul>

                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Cards Against OCaml<br class="smallBreak"> <small> "Cards Against Humanity" Engine </small></h3>
                    <p> November 2015 | OCaml | Functional Programming Final Project</p>
                    <ul>
                        <li>Implemented the GUI forthe project, using the Lablgtk2 library for OCaml.</li>
                        <li>Worked in a team of four people to design and implement the system.</li>
                        <li>Applied knowledge of functional design to create a working game engine.</li>
                    </ul>
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>"Pitbull Generator"<br class="smallBreak">  <small> Lyric Generator Program </small></h3>
                    <p> December 2014 | MATLAB | Inspired by Computing in the Arts </p>
                    <ul>
                        <li>Program generates rap lyrics in the style of the popular hip-hop artist Pitbull.</li>
                        <li>Used Markov models and biased randomness to imitate the artist's voice.</li>
                        <li>Written with OOP in mind to allow for improvements and refinements.</li>
                    </ul>
                    <div class="bg-blue fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                            </div>
                        </div>
                    </div>
                    <h3>Measures Tempo Time Converter<br class="smallBreak">  <small> Musical Utility </small></h3>
                    <p> April 2012 | Visual Basic | Used for Music Sales Business </p>
                    <ul>
                        <li>Simple utility for converting between musical measures, tempo, and duration.</li>
                        <li>Available for the desktop on GitHub, and in beta on the Windows Store.</li>
                    </ul>
                </div>
            </div>
            <div class="row cells4">
                <div class="cell upAnimated"> 
                    <div class="bg-green fg-white align-center">
                        <div class="section">
                            <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                            </div>
                        </div>
                    </div><h3 class="secTitle">Other Experience</h3> </div>
                    <div class="cell colspan3 upAnimated" align="left">
                        <div class="bg-green fg-white align-center">
                            <div class="section">
                                <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                                </div>
                            </div>
                        </div>
                        <h3>Independent<br class="smallBreak">  <small> Music Composer and Artist</small></h3>
                        <p> April 2012 - Present | Fiverr.com </p>
                        <ul>
                            <li>Write, produce, and sell custom theme music for independent clients.</li>
                            <li>Communicate with clients to ensure buyer satisfaction and maintain excellent ratings.</li>
                            <li>Achieved ”Level 2” seller ranking in 2015 for consistently high ratings from buyers.</li>
                        </ul>
                        <div class="bg-green fg-white align-center">
                            <div class="section">
                                <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                                </div>
                            </div>
                        </div>
                        <h3>#flOCaml<br class="smallBreak">  <small> Musical Tribute to OCaml</small></h3>
                        <p> December 2015 | Inspired by CS3110: Functional Programming </p>
                        <ul>
                            <li>Featured on the Inria OCaml listserv, and also seen on the OCaml Reddit.</li>
                            <li>Went viral at Cornell after a live performance for CS 3110's final lecture.</li>
                        </ul>
                        <div class="bg-green fg-white align-center">
                            <div class="section">
                                <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                                </div>
                            </div>
                        </div>
                        <h3>CU Cyphers: Hip-Hop Club<br class="smallBreak">  <small> Vice President </small></h3>
                        <p> August 2015 - Present </p>
                        <ul>
                            <li>Work with the executive board to manage the club's recruiting, coordinate activities, budget for materials, and organize meetings.</li>
                        </ul>
                        <div class="bg-green fg-white align-center">
                            <div class="section">
                                <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                                </div>
                            </div>
                        </div>
                        <h3>Cornell Lunatic - Humor Magazine<br class="smallBreak">  <small> Writer</small></h3>
                        <p> August 2014 - Present </p>
                    </div>
                    <div class="row cells4">
                        <div class="cell upAnimated"> 
                            <div class="bg-orange fg-white align-center">
                                <div class="section">
                                    <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                                    </div>
                                </div>
                            </div>
                            <h3 class="secTitle">Skills</h3> </div>
                        <div class="cell colspan3 upAnimated" align="left">
                            <div class="bg-orange fg-white align-center">
                                <div class="section">
                                    <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                                    </div>
                                </div>
                            </div>
                            <h3>Programming <br> <small> Python | JavaScript | Ruby | LaTeX | Java | MATLAB | OCaml | Bash/Linux | C/C++ | HTML/CSS </small></h3>
                            <h3>Other Technical <br> <small> Git/GitHub | Elasticsearch | ROS | Vim </small></h3>
                            <h3>Music <br> <small> Sibelius | MuseScore | Audacity | Linux MultiMedia Studio | Pro Tools </small></h3>
                            <h3>Languages <br> <small> Native English | Conversational Spanish </small></h3>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="js/animations.js"></script>
