<div class="page-content" align="center"style="padding-top: 50px">
  <div class="bg-white fg-black align-center">
    <div class="no-overflow upAnimated" style="bg-lightGray fg-white align-center padding-top: 20px; padding-bottom: 10px">
        <h1 style="font-size: 40px; line-height: 1.2" class="text-shadow metro-title">Stochastic Soundscape</h1>
    </div>
    <div class="bg-brown fg-white align-center upAnimated">
      <div class="section">
        <div class="no-overflow" style="padding-top: 10px; padding-bottom: 10px">
          <small style="font-size: 25px; line-height: 1.2" class="metro-title">Generate Your World</small>
        </div>
      </div>
    </div>
    <h3></h3>
    <p class="fancyParagraph upAnimated">
    <i>Stochastic Soundscape</i> takes any sound file, analyzes the patterns of some of its more defining features, and randomly generates an output file which reflects some of these patterns. 
    </p>
    <div style="padding-left: 15%; padding-right: 15%">
    <a href="https://github.com/techlover10/StochasticSoundscape" class="button"> StochasticSoundscape on Github! </a>
    </div>

  </div>
</div>
<script src="js/animations.js"></script>
