<h1 class="metro-title"> Verizon </h1>
<h2> Student Intern (Software Development) | San Jose, California</h2>
<h3> Summer 2017 </h3>
<div class="grid">
    <div class="row cells4">
        <div class="cell"> 
            <div class="bg-black fg-white align-center">
                <div class="section">
                    <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                    </div>
                </div>
            </div>
            <h3 class="secTitle" align="right">Overview</h3> </div>
        <div class="cell colspan3" align="left">
            <div class="bg-black fg-white align-center">
                <div class="section">
                    <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
                    </div>
                </div>
            </div>
            <p class="experienceParagraph"> Verizon is one of the largest information technology companies in the world, with thousands of employees, offices across the country, and products ranging from telecommunications to television, internet, and smart communities. </p>
        </div>
    </div>
    <div class="row cells4">
        <div class="cell"> 
            <div class="bg-black fg-white align-center">
                <div class="section">
                    <div class="no-overflow" style="padding-top: 5px; padding-bottom: 5px">
                    </div>
                </div>
            </div>
          <h3 class="secTitle" align="right">Projects</h3> </div>

        <div class="cell colspan3" align="left">
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
          <h3> Traffic Simulator </h3>
          <p class="experienceParagraph"> My first project involved implemented a containerized traffic simulator app to test and locate congestion within cloud networks. The program consists of multiple containers which stream content over HTTP through this network.</p>
        <h4> Technologies </h4>
        <h5> Marathon | Mesosphere | Docker | Ansible | Bash | Python | Flask </h5>
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
        <h3> Load-Balancing Verification System </h3>
        <p class="experienceParagraph"> This project consisted of implementing a library which processes network structure data and finds optimal paths between nodes based on various properties. In addition to this, I also integrated the library into a backend server and wrote a frontend webapp for visualizing these paths with GraphViz. </p>
        <h4> Technologies </h4>
        <h5> Golang | Python | Flask | GraphViz | HTML/CSS </h5>
          <div class="bg-black fg-white align-center">
            <div class="section">
              <div class="no-overflow" style="padding-top: 2px; padding-bottom: 2px">
              </div>
            </div>
          </div>
        <h3> Nelson Integration </h3>
        <p class="experienceParagraph"> I was also tasked with beginning the process of integrating <a href="http://verizon.github.io/nelson">Nelson</a> with the SSRE team's workflow.  The initial open-source effort did not include support for Marathon integration, so I began the process of not only setting up a Nelson server for my team's use, but also integrating with Marathon APIs.  </p>
        </div>
        </div>
      </div>
